<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>DevOps Lab - Web Deploy</title>
</head>
<body>
  <h1>Bienvenue sur le Lab de {{ ansible_user }}</h1>
  <p>Déploiement automatisé via Ansible 🚀</p>
</body>
</html>
